.bg-light-green {
    background: #96BE8C;
}

.bg-blue {
    background: #055C9E;

}

.text-blue {
    /* color: #243119; */
    color: #055C9E;

   
}

.text-color-dark-green {
    color: #629460;
}

.green-border {
    border: 3px solid #629460;
    border-radius: 2em 1em 4em / 0.5em 3em;

}

.green-border-radius {
    border: 3px solid #629460;
    border-radius: 15px 50px;

}

.white-border {
    border: 2px solid white;
    border-radius: 15px 50px;
}

.blue-border {
    border: 2px solid #055C9E;
    border-radius: 30px;


}

.menu a {
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
.menu a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #243119;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.menu a:hover::after {
    transform: scaleX(1);
}


#sname {
    margin: 50px;
    color: rgba(1,1,1,0.7);
}

#sname h1 {
    font-weight: bold;
    font-size: 4em;
    transition: all 500ms;
}
    
#sname h1:hover {
    font-size:88px;
    font-size-adjust: 20px;
    color: #629460;
}

.course:hover {
    color: #629460;
}

/*
*Work
*/
#work .card-body:hover {
    background: #055C9E;
    border: 3px solid white;
    border-radius: 30px;
}

/*
*Skills
*/
.flex-area img {
    width: 80px !important;
}


/*
*About Page
*/

#about {
    background-color: #96BE8C;
}

.profile img {
    height: 300px;
}

/*
*Contact Page
*/
textarea {
    resize: none;
}

#contact .card-body:hover {
    background: #96BE8C;
    color: white !important;
}


















/*@media content*/
@media screen and (max-width: 600px) {
    #home .card-body{
        margin: 2px;
        padding: 3px;
        font-size: 13px;
    }

    #sname h1:hover {
        font-size:50px;
        font-size-adjust: 13px;
       
    }




}